{% extends 'base-admin.html.twig' %}


{% block title %}New User{% endblock %}

{% block body %}
    <div class="page-header mt-0 shadow p-3">
        <ol class="breadcrumb mb-sm-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">New User</li>
        </ol>							
    </div>


    <h1>Create new User</h1>

    {{ include('admin/user/_form.html.twig') }}
    
{% endblock %}
