{% extends 'base-admin.html.twig' %}

{% block title %}New Category{% endblock %}

{% block stylesheets %}
    <style>
        .custom-file-label { opacity: 0; }
        .custom-file-input { opacity: 1; }
    </style>
{% endblock %}

{% block body %}

    <div class="page-header mt-0 shadow p-3">
        <ol class="breadcrumb mb-sm-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">New Category</li>
        </ol>							
    </div>

    <h1>Create new Category</h1>

    {{ include('admin/category/_form.html.twig') }}
{% endblock %}
