{% extends 'base-admin.html.twig' %}

{% block title %}Edit City{% endblock %}

{% block body %}
<div class="page-header mt-0 shadow p-3">
        <ol class="breadcrumb mb-sm-0">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('city_index') }}">Show All</a></li>
            <li class="breadcrumb-item active" aria-current="page">Edit</li>
        </ol>							
    </div>
    <h1>Edit City</h1>

    {{ include('admin/city/_form.html.twig', {'button_label': 'Update'}) }}
{% endblock %}
